html {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

:root {
  /* font */
  --nav-font: clamp(1rem, 1.7vw, 1.2rem);
  --text-font: clamp(1.2rem, 2vw, 1.6rem);
  --header-font: clamp(2.3rem, 3.5vw, 3.3rem);
  --subhead-font: clamp(1.6rem, 2.5vw, 2.4rem);
  --title-font: clamp(1.3rem, 2.2vw, 2rem);

  --ex-small-font: 0.7rem;
  --small-font: 1rem;
  --medium-font: 1.5rem;
  --large-font: 2rem;
  --ex-large-font: 2.5rem;

  /* color */
  --background-color: #3331;
  --dark-color: #111;
  --primary-black: #1113;
  --secondary-black: #1115;
  --header-background: #fff;
  --nav-color: #3457d5;
  --btn-color: var(--nav-color);
  --light-color: var(--header-background);

  /* rgb */
  --dark-rgb: rgb(0, 0, 0, 0.2);
  --light-rgb: rgb(255, 255, 255, 0.2);

  /* transiton */
  --fast-transition: 0.3s;
  --normal-transition: 0.6s;
  --slow-transition: 1s;

  /* box-shadow */

  --box-shadow: box-shadow: 0 0.4em 0.7em var(--dark-rgb);

}

h1 {
  font-size: var(--header-font);
}

h2 {
  font-size: var(--subhead-font);
  padding: 1em;
}

p {
  font-size: var(--text-font);
}

li {
  list-style: none;
}

input,
textarea {
  outline: none;
  cursor: pointer;
  border: none;
}

a {
  text-decoration: none;
  color: var(--nav-color);
}

a,
button {
  font-size: var(--nav-font);
  cursor: pointer;
}

button {
  border: none;
  border-radius: 0.1em;
  opacity: 0.9;
  font-family: inherit;
  transition: opacity,
    var(--normal-transition) cubic-bezier(0.39, 0.575, 0.565, 1);
  padding: 0.3em 0.5em;
  background-color: var(--btn-color);
  color: var(--light-color);
}

button:hover {
  opacity: 1;
}

::placeholder {
  color: var(--dark-rgb);
}

body {
  background: var(--background-color);
  background-repeat: no-repeat;
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

textarea {
  resize: none;
  width: 100%;
  padding: 1em;
}

div.comment-container {
  border: 0.1em solid var(--dark-rgb);
  border-radius: .3em;
  width: max(80%, 70%);
  margin:2em auto;
  padding: 2em;
  display: grid;
  gap: 1em;
  -webkit-gap: 1em;
}

.btn-comment{
  justify-self: flex-end;
}

.top-level-comment{
  padding: .5em;
  background-color: var(--light-color);
  margin-top: .5em;
  /* border: .1em solid var(--dark-color); */
  border-radius: .2em;
}

div.comment-item-wrapper{
  display: grid;
  gap: .3em;
  border: .1em solid var(--dark-color);
  padding: 1em;
  margin-top: .5em;
}

.comment-item-wrapper p{
  padding: 2em;
}

.comment-item-wrapper textarea{
  margin-left: 2em;
  width: 90%;
}

.comment-item-wrapper button{
  border-radius: 2em;
  margin-top: .3em;
  padding: .4em .8em;
  justify-self: flex-end;
}
